@CHARSET "UTF-8";

body {
	margin: 1em 0.5em;
}

#session {
	position: absolute;
	top: 5em; right: 1em;
	text-align: right;
}

#session label, 
#session button {
	margin: 0em 0.5em;
}

#footer {
	text-align: center;
}

div.error,
div.warn,
div.info {
	text-align: center;
	margin: 1em 3em;
	padding: 1em;
}

div.error {
	border: thin solid red;
}

div.warn {
	border: thin solid orange;
}

div.info {
	border: thin solid black;
}
