<% HEAD Content-Type: text/html; charset=UTF-8 %>
<html>
<head>
	<title>Login</title>
</head>

<body style="text-align: center">
	<form action="login" method="POST">
	<table style="display: inline-table; margin-top: 12%">
		<tr>
			<td colspan="2" style="text-align: center"><h1>Bem-Vindo!</h1></td>
		</tr>
		
		<tr>
			<td style="text-align: right">E-Mail:</td> 
			<td style="text-align: left"><input type="text" name="email"></td>
		</tr>
		
		<tr>
			<td style="text-align: right">Password:</td>
			<td style="text-align: left"><input type="password" name="password"></td>
		</tr>
		
		<tr>
			<td colspan="2" style="text-align: center">
			<button type="submit">Login</button>
			</td>
		</tr>
	</table>
	</form>
</body>
</html>
