<% HEAD Content-Type: text/html; charset=UTF-8 %>
<% SELECT doctype %>
<% OPTION strict %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<% OPTION transitional %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<% OPTION frameset %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/frameset.dtd">
<% END doctype %>
<html lang="<% LOCALE %>">
<head>
	<% VAR head_content %>
	
	<title><% VAR page_title %></title>
</head>

<body>
	<% VAR body_content %>
</body>
</html>
