<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app 
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app>
	<!-- descrição geral (a exibir no manager) -->

	<display-name>Exercise Application</display-name>
	<description>
		Uma aplicação para exercitar programação Web.
	</description>

	<!-- parâmetros do contexto -->
	
	<context-param>
		<param-name>author-name</param-name>
		<param-value>Ricardo Takashi Kagawa</param-value>
	</context-param>
	
	<context-param>
		<param-name>author-mail</param-name>
		<param-value>ricardo.kagawa@gmail.com</param-value>
	</context-param>
	
	<!-- filtros (ainda não usado) -->
	
	<!-- listeners -->
	
	<listener>
		<listener-class>rtk.database.ContextListener</listener-class>
	</listener>
	
	<!-- servlets -->
	
	<servlet>
		<servlet-name>main-index</servlet-name>
		<servlet-class>rtk.controller.MainIndex</servlet-class>
		<load-on-startup>0</load-on-startup>
		<!-- lower => earlier (ge 0) -->
	</servlet>
	
	<servlet-mapping>
		<servlet-name>main-index</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	
	<!-- configurações de sessão -->

	<session-config>
		<session-timeout>15</session-timeout>    <!-- minutes -->
	</session-config>

	<!-- MIME mappings (ainda não usado) -->
	
	<!-- páginas principais (não usado) -->
	
	<!-- páginas de erros (ainda não usado) -->
	
	<!-- recursos locais (não usado) -->
	<!-- recursos externos (não usado) -->
	
	<!-- restrições de segurança (ainda não usado) -->
	
	<!-- configurações de login (ainda não usado) -->
	
	<!-- grupos de segurança (ainda não usado) -->
	
	<!-- entradas de ambiente (não usado) -->
	<!-- enterprise java beans (não usado) -->
</web-app>

