<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="editorButton" name="EditorButton" schema="schema/editorButton.exsd"/>
   <extension-point id="platformLanguage" name="PlatformLanguage" schema="schema/platformLanguage.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.jcryptool.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.jcryptool"
            class="org.jcryptool.core.Perspective"
            id="org.jcryptool.core.perspective"
            icon="icons/jct_persp.png">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.jcryptool.core.editorsActionSet"
            label="%editors.actionSet.label"
            visible="true">
         <action
               class="org.jcryptool.core.actions.ShowEditorsPulldownMenuAction"
               icon="icons/editors.gif"
               id="EditorsToolbar.EditorsPulldownAction"
               label="%editors.action.label"
               style="pulldown"
               toolbarPath="org.jcryptool.core.toolbar/fileStart"
               tooltip="%editors.action.tooltip">
         </action>
      </actionSet>
      <actionSet
            id="org.jcryptool.core.cheatSheetsActionSet"
            label="%menu.cheat_sheets"
            visible="true">
         <action
               class="org.eclipse.ui.cheatsheets.CheatSheetExtensionFactory:helpMenuAction"
               id="org.jcryptool.core.cheatSheetsActionSet"
               label="%menu.item.cheat_sheets"
               menubarPath="help/cheatsheets">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jcryptool.core.preferences.pages.GeneralPage"
            id="org.jcryptool.preferences.general"
            name="%preference.page.general">
      </page>
      <page
            category="org.jcryptool.preferences.general"
            class="org.eclipse.ui.ExtensionFactory:fileAssociationsPreferencePage"
            id="org.jcryptool.core.preferences.fileAssociations"
            name="%preference.page.file_associations">
      </page>
      <page
            class="org.jcryptool.core.preferences.pages.EditorsPage"
            id="org.jcryptool.preferences.editors"
            name="%preference.page.editors">
      </page>
      <page
            class="org.jcryptool.core.preferences.pages.CryptoPage"
            id="org.jcryptool.preferences.crypto"
            name="%preference.page.crypto">
      </page>
      <page
            class="org.jcryptool.core.preferences.pages.AlgorithmsPage"
            id="org.jcryptool.preferences.algorithms"
            name="%preference.page.algorithms">
      </page>
      <page
            class="org.jcryptool.core.preferences.pages.AnalysisPage"
            id="org.jcryptool.preferences.analysis"
            name="%preference.page.analysis">
      </page>
      <page
            class="org.jcryptool.core.preferences.pages.GamesPage"
            id="org.jcryptool.preferences.games"
            name="%preference.page.games">
      </page>
      <page
            class="org.jcryptool.core.preferences.pages.VisualsPage"
            id="org.jcryptool.preferences.visuals"
            name="%preference.page.visuals">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/icon_16.gif"
            id="org.jcryptool.intro"
            label="%intro.title">
      </intro>
      <introProductBinding
            introId="org.jcryptool.intro"
            productId="org.jcryptool.core.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jcryptool.core.perspective">
         <perspectiveShortcut
               id="org.jcryptool.crypto.flexiprovider.ui.perspective.FlexiProviderPerspective">
         </perspectiveShortcut>
         <viewShortcut
               id="org.jcryptool.core.views.AlgorithmView">
         </viewShortcut>
         <viewShortcut
               id="org.jcryptool.fileexplorer.views.FileExplorerView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.help.ui.HelpView">
         </viewShortcut>
         <viewShortcut
               id="org.jcryptool.actions.views.ActionView">
         </viewShortcut>
         <view
               id="org.jcryptool.fileexplorer.views.FileExplorerView"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.jcryptool.actions.views.ActionView"
               minimized="false"
               ratio="0.25f"
               relationship="stack"
               relative="org.jcryptool.fileexplorer.views.FileExplorerView">
         </view>
         <view
               id="org.jcryptool.core.views.AlgorithmView"
               minimized="false"
               ratio="0.68f"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.help.ui.HelpView"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="org.jcryptool.fileexplorer.views.FileExplorerView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.jcryptool.core.platformLanguage">
      <language
            languageCode="en_EN"
            languageDescription="%language.languageEnglish">
      </language>
   </extension>
   <extension
         point="org.jcryptool.core.platformLanguage">
      <language
            languageCode="de_DE"
            languageDescription="%language.languageGerman">
      </language>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.jcryptool.core.application"
            name="JCrypTool">
         <property
               name="appName"
               value="JCrypTool">
         </property>
         <property
               name="aboutImage"
               value="icons/about_dialog.gif">
         </property>
         <property
               name="aboutText"
               value="%about.text">
         </property>
         <property
               name="windowImages"
               value="icons/icon_16.gif,icons/icon_32.gif,icons/icon_48.gif,icons/icon_64.gif,icons/icon_128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C0C0C0">
         </property>
         <property
               name="startupMessageRect"
               value="7,238,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
